body {
    background-color: #89ABE3FF;
    margin: auto;
    width: 1000px;
}

header {
    background-color: #FCF6F5FF;
    height: 80px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    text-align: center;
    vertical-align: middle;
}

#artistName{
	
	text-align: center;
	font-size: 25px;
	color: white;
	font-weight: bold;
	
}

h2{
	
	text-align: center;
	font-size: 25px;
	color: #89ABE3FF;
	
}

footer {
    background-color: #FCF6F5FF;
    height: 60px;
    width: 100%;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-family: serif;
    font-size: 40px;
    font-weight: bold;
    color: #89ABE3FF;
    margin-top: 20px;
    text-align: center;
}

h6 {
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
    color: #89ABE3FF;
    margin-top: 5px;
    text-align: center;
}


